body {
    font-size: 11px;
    font-family: "PT Serif", serif;
}

.bg-image {
    background-image: url("../../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px 500px;
    position: relative;
}

.header {
    top: 0mm;
    border-bottom: 1px solid black;
}

.page-after {
    page-break-after: always;
}

/* .page-after:last-child {
    page-break-after: avoid;
} */

.page-before {
    page-break-before: always;
}

.content {
    width: 100%;
    margin-top: 0;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    height: 27cm;
    backdrop-filter: blur(10px);
}

table {
    border-collapse: collapse;
    width: 100%;
    backdrop-filter: blur(10px);
}

.table th {
    border: 1px solid #000000;
    text-align: center;
}

.table td {
    border: 1px solid #000000;
}
